html,body{
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}
nav{
    width:100%;
}
body{
    background-color: cornflowerblue;
}
.songList h1{
    font-size:22px;
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
}
span{
    font-size:11px;
}
.songItemContainer{
    margin-top:27px;
}
.songItem img {
    width: 35px;
    margin: 0 12px;
    border-radius: 34px;
}
.icons .fa-3x {
    font-size: 28px;
    padding:0 20px;
}
.songInfo {
    position: absolute;
    left: 10vw;
    top: 6px;
}